@use "mixins.scss";
@use "variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$fontFamily;
}

html {
    background-color: variables.$backgroundColor;
}

h1,h2, h3, h4 {
    color: variables.$accentColorLight;
}

h2 {
    @include mixins.headlineStyles(300, 0.2rem, 2rem, 0);
}

h3 {
    @include mixins.headlineStyles(300, 0.2rem, 1.5rem, 1vh);
}

h4 {
    @include mixins.headlineStyles(300, 0.2rem, 1rem, 1vh);
}

p, a {
    color: variables.$accentColorDark;
    line-height: 1.5rem;
    margin-bottom: 2vh;
}

header {
    @include mixins.grid(repeat(2, 50%), 90vw, 3vh 4vw);
    @include mixins.position(absolute,0,0,1);


    nav {
        @include mixins.nav(variables.$accentColorLight, underline);

        .socials {
            margin: 0.5vw;
        }
    }
}

aside {
    @include mixins.position(fixed,50%,0,2);
    transform: translateY(-50%);
    background-color: transparent;

    nav {
        @include mixins.nav(white, none);
    }

    ul {
        text-align: left;
        margin-left: 3vw;
        list-style: none;

        li {
            line-height: 20px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
        
        li::before {
            background-image: url('../img/navSmall.png');
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 18px; 
            height: 18px;
            content:"";
            margin-left: 2.5px;
        }

        div {
            border-left: 1px solid #424242;
            height: 60px;
            margin: 0 0 5px 10px;
        }        
    }
}

.experiencesAndLoungerMain {
    display: flex;
    align-items: center; 

    img {
        @include mixins.imgProperties(100vh, 55vw, cover);
    }

    article {
        margin: 0 5vw;

        h2{
            margin-bottom: 10vh;
        }
    }
}








