@use "mixins.scss";
@use "variables.scss";

main {
    display: flex;
    width: 100vw;

    img {
        @include mixins.imgProperties(100vh, 55vw, cover);
    }
}

#beoplayH9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        @include mixins.imgProperties(60vh, 40vw, contain);
        margin-top: 15vh;
    }

    a {
        background-color: variables.$accentColorLight;
        border-radius: 2px;
        font-size: 0.7rem;
        padding: 0.5vh 1.5vw;
        color: #2e2e2e;
        text-decoration: none;
    }
}


li:nth-of-type(5) a:nth-of-type(1) {
    color: white;
}

li:nth-of-type(5)::before {
    @include mixins.floatingNavBeforeBig;
}
