@font-face {
    font-family: Work Sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}


$accentColorLight: #ebccc2;
$accentColorDark: #717171;
$backgroundColor: #2e2e2e;
$fontFamily: "Work Sans";